.pokeImage {
  width: 10rem;
  height: 10rem;
}

.search-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  flex-basis: 220px;
  align-items: center;
  justify-content: flex-start;
}

.input {
  --input-focus: #2d8cf0;
  --font-color: #fefefe;
  --font-color-sub: #7e7e7e;
  --bg-color: #111111;
  --main-color: #fefefe;
  width: 92%;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 15px;
  font-weight: 600;
  color: var(--font-color);
  padding: 5px 10px;
  outline: none;
  margin: 5px;
}

.input::placeholder {
  color: var(--font-color-sub);
  opacity: 0.8;
}

.input:focus {
  border: 2px solid var(--input-focus);
}

button {
  --button-hover: #2d8cf0;
  --button-focus: #2d8cf0;
  --font-color: #fefefe;
  --font-color-sub: #7e7e7e;
  --bg-color: #111111;
  --main-color: #fefefe;
  width: 225px;
  height: 55px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 15px;
  font-weight: 600;
  color: var(--font-color);
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
  margin: 5px;
}

button::placeholder {
  color: var(--font-color-sub);
  opacity: 0.8;
}

button:focus {
  border: 2px solid #2d8cf0;
  ;
}

button:hover {
  color: #2d8cf0;
}

.pokemon-details-wrapper {
  --button-hover: #2d8cf0;
  --button-focus: #2d8cf0;
  --font-color: #fefefe;
  --font-color-sub: #7e7e7e;
  --bg-color: #111111;
  --main-color: #fefefe;
  width: fit-content;
  height: fit-content;
  min-height: 80vh;
  justify-content: center;
  margin: auto;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 15px;
  font-weight: 600;
  color: var(--font-color);
  padding: 5px 10px;
  outline: none;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-top: 4rem;
}